html, body {
    margin:0;
    padding:0;
    height:100%;
}

#background-image-login{
    padding-top: -50px !important;
    background: url("../img/title-pic1.jpg");
    background-position:center center;
    position:fixed;
    width:100%;
    height:100%;
    background-size:cover;
}

.loginPage #header {
    width: 100%;
    height: 50px;
    position: relative;
}
/*
#loginButtons {
    float: right;
    width: 220px;
}

.loginPage #title {
    clear: both;
    position: relative;
    margin: auto;
}

#loginButtons button {
    margin: 6px;
    font-size: 16px;
    background: linear-gradient(#95AFBA 5%, #FFFFFF 100%);
    border: 1px solid #000000;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}*/

.loginForm {
    height: 283px;
}

.regForm {
    height: 410px;
}

.jumbotron {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 25%;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: #fff;
    padding: 2rem;
}

.box input {
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #ecf2f4;
    border-radius: 0.2rem;
    border: none;
}

h2 .login {
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ababab;
}

.btn {
    border-radius: 0.2rem;
}

.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}

.full-width {
    background-color: #8eb5e2;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* ------------------chat page------------------- */
/*
.chatPage {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #7E9CA6;
    overflow: hidden;
}

.left {
    width: 100px;
    float:left;
    border: 1px solid red;
}
.center {
    margin-left: 100px;
    float: left;
}
.right {
    width: 300px;
    border: 1px solid red;
    float: right;
    overflow: hidden;
}

*/
