html {
    min-width: 650px;
}

body {
    margin: 0;
    background: url("../images/title-pic1.jpg");
    background-size: 100%;
}

.loginPage {

}

.loginPage #header {

    width: 100%;
    height: 50px;
    position: relative;
}

#loginButtons {
    float: right;
    width: 220px;
}

.loginPage #title {
    clear: both;
    position: relative;
    margin: auto;
}

#loginButtons button {
    margin: 6px;
    font-size: 16px;
    background: linear-gradient(#95AFBA 5%, #FFFFFF 100%);
    border: 1px solid #000000;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

#loginButtons button:hover,
.form button:not(#exitBtn):hover {
    background: linear-gradient(#0B445C 5%, #88ABBA 100%);
    color: #FFFFFF;
}

.formContainer {
    background-color:rgba(0, 0, 0, 0.4);
    margin: auto;
    width: 350px;
}

.form {
    width: 250px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form input {
    width: 90%;
    height: 20px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 12px;
    border-radius: 5px;
}

.form #invalid{
    border: 4px solid red;
}

.form label {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    float: left;
}

.form button:not(#exitBtn) {
    font-size: 16px;
    background: linear-gradient(#95AFBA 5%, #FFFFFF 100%);
    border: 1px solid #000000;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 95%;
    margin-left: 6px;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
}


.form #exitBtnContainer {
    float: right;
    width: 100%;
    height: 5px;
}

.form #exitBtn {
    float: right;
    width: 5px;
    height: 5px;
    color: transparent;
    margin: -10px -20px 0px 0px;
}

.form #exitBtn:hover {
    background: linear-gradient(#0B445C 5%, #88ABBA 100%);
    color: transparent;
}


